 {% load static %}
<!DOCTYPE type="html">
<html>
    <head>
        <meta charset="UTF-8" />
        <title>Login</title>
        <link rel="stylesheet" href="{% static 'css/form.css' %}">
    </head>
    <body>
        
        <div class="container">
            {% for message in messages %}
               <div class="message">
                 <span class="text-message">{{ message }}</span>
               </div> 
            {% endfor %} 

            <form method="post" class="register-form">
               {% csrf_token %}

               <h1 class="title-form">Login</h1>
                <div class="group-input">
                 <label for="username">Username</label>
                 <input type="text" name="username" id="username" placeholder="Enter your username">
                </div>
                <div class="group-input">
                 <label for="name">Password</label>
                 <input type="text" name="password" id="password" placeholder="Enter your password">
                </div>
    
                <button type="submit">
                    Login
                </button>
            </form>
        </div>
    </body>
</html>