{% extends "base.html" %}

{% block content %}
    <div class="add-product">
        <h1>Lis tout stock yo</h1>
        
        {% if user.is_authenticated %}  
          <a href="{% url 'gestion_stock_app:ajoute_stock' %}">Ajoute nouvo stock</a>
        {% endif %}
    </div>
   
    <div class="table-container">
        <table>
            <tr>
                <th>Non</th>
                <th>Kantite</th>
                <th>Pri</th>
                <th>Opsyon</th>
            </tr>
            {% for stock in stocks %}
            <tr>
                <td>{{ stock.nom }}</td>
                <td>{{ stock.quantite }}</td>
                <td>{{ stock.prix_unitaire }}</td>
                <td class="actions">
                    <a href="{% url 'gestion_stock_app:detay_stock' stock.id %}">Detay</a> |
                    {% if user.is_authenticated %}  
                      <a href="{% url 'gestion_stock_app:modifye_stock' stock.id %}">Modifye</a> 
                    {% endif %}
                    {% if user.is_authenticated %}  
                     | <a href="{% url 'gestion_stock_app:efase_stock' stock.id %}">Efase</a>
                    {% endif %}
                </td>
            </tr>
            {% endfor %}
        </table>
    </div>
{% endblock  %}

