{% extends 'base.html' %}

{% block content %}
    <h1>Modifye {{ stock.nom }}</h1>
    <form method="post">
        {% csrf_token %}
        <label>Non:</label>
        <input type="text" name="nom" value="{{ stock.nom }}" required><br><br>

        <label>Kantite:</label>
        <input type="number" name="quantite" value="{{ stock.quantite }}" required><br><br>

        <label>Pri inite:</label>
        <input type="text" name="prix_unitaire" value="{{ stock.prix_unitaire }}" required><br><br>

        <button type="submit">Sove</button>
    </form>
    <a href="{% url 'gestion_stock_app:list_stock' %}">Retounen nan lis stock</a>
{% endblock %}
